@import 'app.scss';

.swiper-image {
  height: 200px;
  background-size: cover;
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.65));
  border-radius: 12px;
}

.swiper-button-prev,
.swiper-button-next {
  @extend .glow;
  color: white;
  scale: 0.7;
}
